gTTS==2.5.3
pybase64
pyttsx3==2.98
opencv-python
streamlit==1.36.0
streamlit-folium==0.22.0
streamlit-javascript==0.1.5
streamlit_js_eval==0.1.7
pygame==2.6.0
ultralytics==8.2.46
streamlit-webrtc==0.47.7
geojson==3.1.0
